{% extends 'django_demoapp/layout/default.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <main class="main users chart-page" id="skip-target">
        <div class="container">
            <h2 class="main-title">Courses list {{ course_id }} </h2>
            <div class="text-end">
                <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add new course
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Course</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" class="text-start bg-secondary-50">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <div class="text-end">
                          <button class="btn btn-primary btn-sm">Save course</button>
                        </div>
                      </form>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary btn-sm">Save responsible</button>
                    </div> -->
                  </div>
                </div>
              </div>

            </div>

            <div class="users-table table-wrapper">
                <table class="posts-table">
                  <thead>
                    <tr class="users-table-info">
                      <th>
                        <label class="users-table__checkbox ms-20">
                          <input type="checkbox" class="check-all">Course title
                        </label>
                      </th>
                      <th>responsible</th>
                      <th>number of hours</th>
                      <th>Status</th>
                      <th>Date start</th>
                      <th>Date end</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% load static %}
                    {% if courses %}
                      {% for course in courses %}
                        <tr>
                          <td>
                            <label class="users-table__checkbox">
                              <input type="checkbox" class="check">
                              <div class="categories-table-img">
                                {{ course.name_course}}
                              </div>
                            </label>
                          </td>
                          <td>
                            <div class="pages-table-img">
                              <picture><source srcset="{% static 'app/img/avatar/avatar-face-02.webp' %}" type="image/webp"><img src="{% static 'app/img/avatar/avatar-face-02.png' %}" alt="User Name"></picture>
                              {{ course.responsible.name_responsible}}
                            </div>
                          </td>
                          <td>{{ course.numbrer_hour}}h</td>
                          <td><span class="badge-active">{% if course.status == 1 %} Active {% else %} desactive {% endif %}</span></td>
                          <td>{{ course.date_start}}</td>
                          <td>{{ course.date_end}}</td>
                          <td>
                            <span class="p-relative">
                              <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                <div class="sr-only">More info</div>
                                <i data-feather="more-horizontal" aria-hidden="true"></i>
                              </button>
                              <ul class="users-item-dropdown dropdown">
                                <!-- <li><a href="##">Edit</a></li>
                                <li><a href="##">Quick edit</a></li> -->
                                <li>
                                  <form action="/courses/{{ course.pk }}/" method="POST">
                                    {% csrf_token %}
                                    <button type="button" class="w-100 btn btn-sm btn-primary"><i class="fas fa-pen"></i> edit</button>
                                    <button type="submit" class="w-100 btn btn-sm btn-danger"><i class="fas fa-trash"></i> delete</button>
                                  </form>
                              </ul>
                            </span>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
            </div>
            
        </div>
    </main>
{% endblock %}